/* color-image */
$red: #F00;
$black: #000;
$gray: #808080;
$darkgray: #a9a9a9;
$silver: #c0c0c0;
$lightgray: #d3d3d3;
$white: #FFF;
$khaki: #f0e68c;

/* design-color */
$logo-color: #CC0;
$base-text: #333;
$header-border: #DCDCDC;
$footer-bg: #faf8f5;
