.container.messages
  - if flash[:notice].present?
    .alert.alert-success
      %button{type: "button", "data-dismiss": "alert"}.close &times;
      = notice.html_safe
  - if flash[:error].present?
    .alert.alert-danger
      %button{type: "button", "data-dismiss": "alert"}.close &times;
      = error.html_safe
